body{background-color:bisque;}
h1, p{black}
p {
	font-family: palatino, georgia, sans-serif;	
  font-size: 18px;
	line-height: 1.5em;
	margin: 2em;
	text-align: center;
}
strong {
	font-variant: small-caps;
}